

<html>
    <title></title>
    <head> 
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
        
    </head>
    <style>
        p{
            font-size: xx-large;
        }
    </style>
    <img src="https://www.bciit.ac.in/images/logo/logo.png" width="2500">
    <p style="font-size: 400%;color: darkcyan;" align="center"><strong> STUDENTS </strong></p>
    <body background="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSTY4pn5whWT-_G2ak6ymjYtS96O4uiAbNs-A&s" style="background-color: goldenrod;background-repeat: no-repeat;background-size: 250%;">
    <div>
    <div style="right: 50%;">
    <h1 style="font-size: xx-large;">{{student1}}</h1>
    <img src="https://media.licdn.com/dms/image/D5603AQGgoCavIyXTQg/profile-displayphoto-shrink_200_200/0/1714839047376?e=1720656000&v=beta&t=JcIKeB7cCaeZzVFQbzsrsiPOlPndqQ6is2PY3dJZEFA" height="400" width="400">
    <p>
        Name: Anmol Dhingra
        <br>
        Enrollment number:05811102022
        <br>
        Batch: 2022-2025
        <br>
        Name of the institute: Benarsidas Chandiwala Institute of Information Technology
        <br>
        Course : BCA
    </p>
    
    </div>
    <br>
    <br>
    <div style="right: 50%;">
    <h1 style="font-size: 300%">{{student2}}</h1>
    <img src="https://media.licdn.com/dms/image/D4D03AQFvUhT7EZlFDA/profile-displayphoto-shrink_200_200/0/1714400321371?e=1725494400&v=beta&t=t7k30lfGfGkQau34ZLQ6lYIFYhVZ5pMhvCIX1hz1rE4" height="400" width="400">
    <p>
        Name: Badal Kumar
        <br>
        Enrollment number:05811102022
        <br>
        Batch: 2022-2024
        <br>
        Name of the institute: Benarsidas Chandiwala Institute of Information Technology
        <br>
        Course : BCA
    </p>
    </div>
    <br>
    <br>
    <div style="right: 50%;">
    <h1 style="font-size: 300%">{{student3}}</h1>
    <img src="https://media.licdn.com/dms/image/D4D03AQFuXDn5pijl3A/profile-displayphoto-shrink_200_200/0/1710431438947?e=1725494400&v=beta&t=OpecaQJ1yrgf3JuHO-wM0vlCgI7bTA5er-YH6rDoyrQ" height="400" width="400">
    <p>
        Name: Shivang Gulia
        <br>
        Enrollment number:05811102022
        <br>
        Batch: 2022-2024
        <br>
        Name of the institute: Benarsidas Chandiwala Institute of Information Technology
        <br>
        Course : BCA
        <br>
    </p>
    </div>
    <br>
    <br>
    <div style="right: 50%;">
    <h1 style="font-size: 300%;">{{student4}}</h1>
    <img src="https://media.licdn.com/dms/image/D5603AQEQjPvTGeXQdg/profile-displayphoto-shrink_200_200/0/1703706724567?e=1720656000&v=beta&t=d_OxH8Q_PLuyo6Ci6G3SJkaV2yaTsONw-rDOvc2JMAE" height="400" width="400" >
    <p>
        Name:Tarun goyal
        <br>
        Enrollment number:05811102022
        <br>
        Batch: 2023-2025
        <br>
        Name of the institute: Benarsidas Chandiwala Institute of Information Technology
        <br>
        Course : MCA
        <br>
    </p>
    </div>
    <br>
    <br>
    <div style="right: 50%;">
    <h1 style="font-size: 300%;">{{student5}}</h1>
    <img src="https://media.licdn.com/dms/image/D4D03AQH7JKgntZxzng/profile-displayphoto-shrink_200_200/0/1678082708310?e=1720656000&v=beta&t=_7s0AFfYMajFtDS_y0kMz5ZjtDxCYhOegaw9R7vggMo" height="400" width="400">      
    <p>
        Name: Aryan Shivhare
        <br>
        Enrollment number:05811102022
        <br>
        Batch: 2022-2024
        <br>
        Name of the institute: Benarsidas Chandiwala Institute of Information Technology
        <br>
        Course : BCA
        <br>
    </p> 
    </div>
    </div>
        </body>

</html>