<html>
<body>
<h1 align="center">INFRASTRUCTURE</h1>
CLASSROOMS
The classrooms at BCIIT provide the most conducive atmosphere for dynamic and focused discussions between the students and faculty. Sophisticated audio-visual aids and advanced presentation tools augment interactive learning. The classrooms are air-conditioned spacious and well ventilated to facilitate the teaching learning process. The faculty and student use these aids on routine basis to enhance the over all effectiveness of teaching learn
<br><br><br><br>
<img src="https://images.ctfassets.net/2htm8llflwdx/2mKP5dTvcwi8RUABcb6VEP/5fe3aa6f438ba63b96e9f36c639e66e8/Classroom_StudentGroup_Studying_Indoor_GettyImages-679437550.jpg">
<br><br><br><br>
Library
LIBRARY
The primary repository of learning and knowledge at BCIIT is the library with over 3000 books on IT and related areas besides periodicals and journals. To cultivate values and competitiveness amongst the students the library has wide array of books on social issues and aptitude and attitude building. The air-conditioning in the library provides comfortable environment for prolonged reading sessions. Library attendance is mandatory for students and planned in their academic timetable. To cater to the needs of the students a photocopy facility is also available to them.
<img src="https://bciit.ac.in/images/about/inf/2.jpg">
<br><br><br><br>
Computer Lab
COMPUTER LAB
The Institute has latest computers in the with student terminal ratio as 1:1 to work for their practicals that are part of the curriculum. All the legal software is provided to cover the entire syllabi and for any other special needs for the projects.
<img src="https://bciit.ac.in/images/about/inf/3.jpg">
<br><br><br><br>
Conference Room
CONFERENCE ROOM
An air-conditioned conference room is provided to hold meetings and presentations of the students’ projects to the expert groups and faculty.
<img src="https://bciit.ac.in/images/about/inf/4.jpg">
<br><br><br><br>
Auditorium
AUDITORIUM
BCIIT’s state-of-the-art auditorium with a seating capacity of 250 people is equipped with the latest audio-visual equipment in a centrally air-conditioned environment. The auditorium is used round the year for hosting intra and inter-college events like seminars, conference and debates and cultural activities. It is a most happening place where socio-technical interaction occurs between the students, faculty and experts from industry and academia.
</body>
</html>