<html>
    <h1 style="color: blueviolet;">SCHOLARSHIPS</h1>
    <body background="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRS4ItnHpJivB6Xyu0_DQnY43uFV1cNKc7TaA&s" style="font-size: xx-large;color: forestgreen;background-repeat: no-repeat;background-size: 100%;" >
Guru Gobind Singh Indraprastha University (GGSIPU) offers numerous scholarships for deserving and financially deprived students. Students must meet the minimum eligibility criteria to apply for IPU scholarships. Apart from the scholarships available, the university provides students with financial assistance.
<br><br>
The following scholarships are offered by GGSIPU Delhi:
<br>
EWS scholarship
<br>
Entrepreneurship Development Programme (EDP)
<br>
Hana Scholarship
<br>
Merit-cum-Means Linked Financial Assistance Scheme
<br>
DLF Scholarship
<br><br>
Post Matric Scholarship for SC/ST & OBC Students
<br><br>
The government of the National Capital Territory of Delhi has funded nine categories of scholarships for students from Scheduled Castes (SC), Scheduled Tribes (ST), and Other Backward Classes (OBC), both independently and in partnership with the central government.<br><br>
<img src="https://qph.cf2.quoracdn.net/main-qimg-59b515517dbd8b8a65990db8a55626ae-pjlq"><br><br>
<a href="https://bciit.ac.in/pdf/scholarship/scholarship_schemes_2020-21.pdf" style="font-size: xx-large;">https://bciit.ac.in/pdf/scholarship/scholarship_schemes_2020-21.pdf</a><br><br>


    </body>
</html>